<h3>Plan: <%= @plan.title %></h3><p>
<h5>Suggestions</h5>
<table class="table table-striped table-bordered">
  <tr>
    <td>Location</td>
    <td>Time</td>
    <td>Votes</td>
    <td>Percent confirmed</td>
  </tr>
  <% @plan.suggestions.each do |suggestion| %>
    <tr>
      <td><%= suggestion.location %></td>
      <td><%= suggestion.time %></td>
      <td><%= link_to "Show votes", user_plan_suggestion_path(@user, @plan, suggestion) %></td>
      <td><%= suggestion.percent_confirmed? %>%</td>
    </tr>
  <% end %>
</table>

<%= link_to "Edit plan", edit_user_plan_path(@user, @plan) %> |
<%= link_to "Add a new suggestion", new_user_plan_suggestion_path(@user, @plan)  %>