<h3>Current Votes</h3>

<% @votes.each do |vote| %>
  <%= vote.suggestion.location %> | <%= vote.suggestion.time.strftime('%c') %> 
    <%= form_for vote do |f| %>
      <%= f.label :confirm %>
      <%= f.check_box :confirm %>
      <%= f.submit %>
    <% end %>
<% end %>

