<h3>Current Votes</h3>

<% @votes.each do |vote| %>
  <%= vote.suggestion.location %>
  <%= form_for vote do |f| %>
    <%= f.label :confirm %>
    <%= f.check_box :confirm %>
    <%= f.submit %>
  <% end %>
  <br>
<% end %>

<%= link_to "Return to user screen", user_path(@user) %>

