<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
  
<%= notice %></p>
<%= alert %></p>
<div class="page-header">
  <h1>Group Planner</h1>
</div>

<% if user_signed_in? %>
  <%= link_to "Home", root_path %> |
  Signed in as <%= current_user.email %> |
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> |
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
<% end %>


